{% extends "base/base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block header %}
    <!-- Header Start -->
    <div class="jumbotron jumbotron-fluid position-relative overlay-bottom" style="margin-bottom: 90px;">
        <div class="container text-center my-5 py-5">
            <h1 class="text-white mt-4 mb-4">Learn From Home</h1>
            <h1 class="text-white display-1 mb-5">Education Courses</h1>
            <div class="mx-auto mb-5" style="width: 100%; max-width: 600px;">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-light bg-white text-body px-4 dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Courses</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Courses 1</a>
                            <a class="dropdown-item" href="#">Courses 2</a>
                            <a class="dropdown-item" href="#">Courses 3</a>
                        </div>
                    </div>
                    <input type="text" class="form-control border-light" style="padding: 30px 25px;" placeholder="Keyword">
                    <div class="input-group-append">
                        <button class="btn btn-secondary px-4 px-lg-5">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
    {% endblock %}

{% block content %}


    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="{% static 'img/about.webp' %}" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="section-title position-relative mb-4">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">About Us</h6>
                        <h1 class="display-4">First Choice For Online Education Anywhere</h1>
                    </div>
                    <p>Why You Should Start Learning with Us?
                        We provide high‑quality courses designed by experienced instructors who truly care about your growth. Our platform offers practical knowledge, real‑world projects, and flexible learning that fits your schedule. You can learn anytime, anywhere, and at your own pace. By joining us, you become part of a supportive learning community focused on real results.
                    </p>
                    <div class="row pt-3 mx-0">
                        <div class="col-3 px-0">
                            <div class="bg-success text-center p-4">
                                <h1 class="text-white" data-toggle="counter-up">
                                    {{ subjects_count }}
                                </h1>
                                <h6 class="text-uppercase text-white">
                                    Available<span class="d-block">Subjects</span>
                                </h6>
                            </div>
                        </div>

                        <div class="col-3 px-0">
                            <div class="bg-primary text-center p-4">
                                <h1 class="text-white" data-toggle="counter-up">
                                    {{ courses_count }}
                                </h1>
                                <h6 class="text-uppercase text-white">
                                    Online<span class="d-block">Courses</span>
                                </h6>
                            </div>
                        </div>

                        <div class="col-3 px-0">
                            <div class="bg-secondary text-center p-4">
                                <h1 class="text-white" data-toggle="counter-up">
                                    {{ instructors_count }}
                                </h1>
                                <h6 class="text-uppercase text-white">
                                    Skilled<span class="d-block">Instructors</span>
                                </h6>
                            </div>
                        </div>

                        <div class="col-3 px-0">
                            <div class="bg-warning text-center p-4">
                                <h1 class="text-white" data-toggle="counter-up">
                                    {{ students_count }}
                                </h1>
                                <h6 class="text-uppercase text-white">
                                    Happy<span class="d-block">Students</span>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Feature Start -->
    <div class="container-fluid bg-image" style="margin: 90px 0;">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 my-5 pt-5 pb-lg-5">
                    <div class="section-title position-relative mb-4">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Why Choose Us?</h6>
                        <h1 class="display-4">Why You Should Start Learning with Us?</h1>
                    </div>
                    <p class="mb-4 pb-2">Why You Should Start Learning with Us?
                        We provide high‑quality courses designed by experienced instructors who truly care about your growth. Our platform offers practical knowledge, real‑world projects, and flexible learning that fits your schedule.
                    </p>
                    <div class="d-flex mb-3">
                        <div class="btn-icon bg-primary mr-4">
                            <i class="fa fa-2x fa-graduation-cap text-white"></i>
                        </div>
                        <div class="mt-n1">
                            <h4>Skilled Instructors</h4>
                            <p>Learn from experienced instructors who are passionate about teaching and mentoring students. Our experts bring real‑world knowledge and practical skills into every lesson. They are dedicated to helping you grow confidently and achieve your learning goals.</p>
                        </div>
                    </div>
                    <div class="d-flex mb-3">
                        <div class="btn-icon bg-secondary mr-4">
                            <i class="fa fa-2x fa-certificate text-white"></i>
                        </div>
                        <div class="mt-n1">
                            <h4>International Certificate</h4>
                            <p>Earn internationally recognized certificates that add real value to your career. Our certificates prove your skills and knowledge to employers worldwide. They help you stand out and open new opportunities in your professional journey.</p>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="btn-icon bg-warning mr-4">
                            <i class="fa fa-2x fa-book-reader text-white"></i>
                        </div>
                        <div class="mt-n1">
                            <h4>Online Classes</h4>
                            <p class="m-0">Enjoy flexible online classes that fit your schedule anytime, anywhere. Learn at your own pace with high‑quality video lessons and resources. Our platform makes education accessible, interactive, and effective for everyone.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="{% static 'img/feature.jpg' %}" style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature Start -->


    <!-- Courses Start -->
    <div class="container-fluid px-0 py-5">
        <div class="row mx-0 justify-content-center pt-5">
            <div class="col-lg-6">
                <div class="section-title text-center position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Our Courses</h6>
                    <h1 class="display-4">Checkout New Releases Of Our Courses</h1>
                </div>
            </div>
        </div>
        <div class="owl-carousel courses-carousel">
            {% for course in courses %}
            <div class="courses-item position-relative">
                <div class="course-image-wrapper">
                    {% if course.image %}
                        <img src="{{ course.image.url }}" alt="{{ course.title }}">
                    {% else %}
                        <img src="{% static 'img/courses-1.jpg' %}" alt="Default image">
                    {% endif %}
                </div>
            
                <div class="courses-text">
                    <h4 class="text-center text-white px-3">
                        {{ course.title }}
                    </h4>
            
                    <div class="border-top w-100 mt-3">
                        <div class="d-flex justify-content-between p-4">
                            <span class="text-white">
                                <i class="fa fa-user mr-2"></i>{{ course.owner }}
                            </span>
                            <span class="text-white">
                                <i class="fa fa-star mr-2"></i>
                                {{ course.rating|default:"0" }}
                                <small>({{ course.reviews_count|default:"0" }})</small>
                            </span>
                        </div>
                    </div>
            
                    <div class="w-100 bg-white text-center p-4">
                        <a class="btn btn-primary" href="{% url 'course_detail' course.id %}">
                            Course Detail
                        </a>
                    </div>
                </div>
            </div>
            {% empty %}
                <p class="text-center w-100">No courses yet</p>
            {% endfor %}
        </div>
    </div>
    <!-- Courses End -->

    {% endblock %}


